* {
    font-family: 'Roboto', sans-serif;
}

header {
	font-size:20px;
	padding-top:3em;
	padding-bottom:2.5em;
	padding-left:7em;
	padding-right:7em;
	color:#1B262C;
}

body {
	background-color:#f4f8fa;
}

nav {
    text-align:center;
    display:block;
	margin-right:10em;
	margin-left:10em;
	padding-bottom:2em;
    border-bottom-style:solid;
    border-radius:5px;
    border-width:2px;
    border-color:#1B262C;
}

.nav {
    text-decoration:none;
    font-weight:bold;
	color:#1B262C;
    margin-left:1em;
    margin-right:1em;
    font-size:25px;
}

section{
	margin-top:2em;
	margin-right:2em;
	margin-left:2em;
    display:block;
}

article {
	font-size:21px;
	background-color:#fefeff;
	padding:1em;
	color:#1B262C;
}

footer {
	text-align:center;
	font-weight:bold;
    display:block;
    margin:2em;
    font-size:1.2em;
	color:#1B262C;
}

.resume_title {
	text-align:center;
}

.resume {
	text-indent:2em;
	line-height: 1.5em;
}

@media only screen and (max-width : 400px) {

}
