footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align:center;
    background-color: #1A374D;
    color:#B1D0E0;
    font-size:19px;
}

nav a , nav{
    text-align: center;
    background-color: #1A374D;
    top:0;
    padding: 10px;
    color: #B1D0E0;
    text-decoration:none;
    font-size:19px;
}

body {
    background-color: #B1D0E0;
    font: 13pt "Bahnschrift", sans-serif;
    color: #1A374D;
    margin:0;
    font-size:22px;
}

p,h1,table {
    margin: 13px;
}

.links a {
    color: #1A374D;
    font-weight:bold;
    text-decoration:underline;
}

.links li {
    margin: 3px;
}

h1 {
    text-decoration:underline;
}

span.linkelement {
    font-weight:bold;
    margin-left:2.5em;
}

.resource {
    color:#1A374D;
    font-weight:bold;
}

#education {
    font-weight: bold;
    font-size:2em;
    text-decoration:underline;
}

table, th, td {
    border-style:hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

.date, .edu{
    background-color:#9fbbca;
}

@media only screen and (max-width : 400px) {
    nav a , nav, footer {
        font-size:12px;
    }
    body {
        font-size:15px;
    }
  }