footer {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1A374D;
}

.foot {
    text-align:center;
    color:#B1D0E0;
    font-size:20px;
}

header {
    position:fixed;
    background-color: #1A374D;
    right: 0;
    left: 0;
    top:0;
    padding: 14px;
    font-size:25px;
}

.navg {
    text-decoration: none;
    color:#B1D0E0;
}

nav{
    text-align: center;
    color:#B1D0E0;
}

body {
    background-color: #B1D0E0;
    font: 13pt "Bahnschrift", sans-serif;
    color: #1A374D;
    font-size:22px;
    margin-top:4em;
}

p, table {
    margin: 13px;
}

#intro {
    text-indent:2.5em;
}

.links a {
    color: #1A374D;
    font-weight:bold;
    text-decoration:underline;
}

.links li {
    margin: 3px;
}

h1 {
    text-decoration:underline;
    margin: 13px;
}

span.linkelement {
    font-weight:bold;
}

.resource {
    color:#1A374D;
    font-weight:bold;
}

table, th, td {
    border-style:hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

.date {
    background-color:#9fbbca;
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.edu {
    padding-right:10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#9fbbca;
}

.school {
    color:#1A374D;
    text-decoration:none;

}

@media only screen and (max-width : 400px) {
    nav {
        font-size:17px;
    }
    header {
        padding:18px;
    }
    body {
        margin-top:4.5em;
        font-size:17px;
    }
    .foot {
        font-size:15px; 
    }
}