* {
    font-family: 'Roboto', sans-serif;
}
a {
	text-decoration:none;
	color:#1B262C;
}

header {
	padding-top:3em;
	padding-bottom:2.5em;
	padding-left:7em;
	padding-right:7em;
	color:#1B262C;
}

h1 {
	font-weight:700;
	font-size:37px;
	font-style:italic;
}

h2 {
	text-align:center;
	font-size:40px;
}

h3 {
	font-size:30px;
}


body {
	background-color:#f4f8fa;
}

nav {
    text-align:center;
    display:block;
	margin-right:30em;
	margin-left:30em;
	padding-bottom:2em;
    border-bottom-style:solid;
    border-radius:5px;
    border-width:2px;
    border-color:#1B262C;
}

.nav {
    margin-left:1em;
    margin-right:1em;
	font-weight:600;
	font-size:30px;
}

section{
	margin-top:2em;
	margin-right:2em;
	margin-left:2em;
    display:block;
    margin-bottom:auto;
}

article {
	background-color:#fefeff;
	padding:1em;
	color:#1B262C;
	font-size:23px;
}

footer {
	text-align:center;
    display:block;
    margin:1.6em;
    font-size:21px;
	color:#1B262C;
	font-weight:500;
}

.resume {
	text-indent:2em;
	line-height: 1.5em;
}

.course1{
	display:inline-block;
	margin-left:30em;
	line-height:2em;
	font-weight:500;
}

.course2{
	float:right;
	display:inline-block;
	margin-right:30em;
	line-height:2em;
	font-weight:500;
}

.contact_block {
	text-align:center;
}

.contact {
    margin-left:1em;
    margin-right:1em;
	font-weight:600;
	font-size:27px;
}

.language {
	display:block;
	margin-right:7px;
	margin-left:7px;
	float:right;
}

.experience {
	display:inline-block;
	float:right;
	margin-right:5em;
}

.skills {
	display:inline-block;
	margin-left:5em;
}




@media only screen and (max-width : 500px) {

nav {
	margin:0px;
	padding:0px;
	margin:0px;
	padding-bottom:1em;
	padding-top:1em;
	margin-left:1em;
	margin-right:1em;

}

.nav {
	text-align:center;
	font-size:17px;
	margin:0px;
	margin-left:5px;
	margin-right:5px;


}

header {
	text-align:center;
	margin:0px;
	margin-top:1em;
	padding:0px;
}

h1 {
	font-size:30px;
	margin:0px;
	padding:0px;
	padding-bottom:1.5em;
	padding-top:1.5em;
	
}

h2 {
	font-size:25px;
}

h3 {
	font-size:20px;
}

section{
	margin-right:1em;
	margin-left:1em;
    display:block;
}

article {
	font-size:16px;
}

footer {
	margin-top:1.3em;
	margin-bottom:1.3em;
	font-size:17px;
	text-align:center;
}

.language {
	display:block;
	margin-right:1.5em;
	margin-left:0px;
	float:right;
}

.course1{
	margin-left:1em;
}

.course2{
	margin-right:1em;;
}

.contact {
    margin-left:5px;
    margin-right:5px;
	font-weight:600;
	font-size:20px;
}

html, body {
	margin:0px;
    overflow-x: hidden;
}

.experience, .skills {
	display:block;
	margin:0px;
} 
