* {
    font-family: 'Roboto', sans-serif;
}
a {
	text-decoration:none;
	color:#1B262C;
}

header {
	padding-top:3em;
	padding-bottom:2.5em;
	padding-left:7em;
	padding-right:7em;
	color:#1B262C;
}

h1 {
	font-weight:700;
	font-size:30px;
	font-style:italic;
	
}

h2 {
	text-align:center;
	font-size:32px;
}

h3 {
	font-size:22px;
}


body {
	background-color:#f4f8fa;
}

nav {
    text-align:center;
    display:block;
	margin-right:auto;
	margin-left:auto;
	padding-bottom:2em;
    border-bottom-style:solid;
    border-radius:5px;
    border-width:2px;
    border-color:#1B262C;
    width:70%;
}

.nav {
    margin-left:1em;
    margin-right:1em;
	font-weight:600;
	font-size:22px;
}

section{
	margin-top:2em;
	margin-right:2em;
	margin-left:2em;
    display:block;
    margin-bottom:auto;
}

article {
	background-color:#fefeff;
	padding:1em;
	color:#1B262C;
	font-size:19px;
}

footer {
	text-align:center;
    display:block;
    margin:1.6em;
    font-size:15px;
	color:#1B262C;
	font-weight:500;
}

.resume {
	text-indent:2em;
	line-height: 1.5em;
}

.course{
	display:inline-block;
	line-height:2em;
	font-weight:600;
	margin-left:2em;
	margin-right:2em;
}

.course_table {
	display:table;
	margin-left:auto;
	margin-right:auto;

}
.contact_block {
	text-align:center;
}

.contact {
    margin-left:1em;
    margin-right:1em;
	font-weight:600;
	font-size:24px;
}

.language {
	display:block;
	margin-right:7px;
	margin-left:7px;
	float:right;
}

.home {
	display:inline-block;
	margin-left:6em;
	margin-right:6em;
	height:auto;
	width:auto;

}

.home_table {
	display:table;
	margin-left:auto;
	margin-right:auto;
	
}

.sources {
	line-height:2em;
	font-weight:600;
	display: table;
	margin-left:auto;
	margin-right:auto;
}
@media only screen and (max-width : 500px) {

nav {
	margin:0px;
	padding:0px;
	margin:0px;
	padding-bottom:1em;
	padding-top:1em;
	margin-left:auto;
	margin-right:auto;
    width:95%;

}

.nav {
	text-align:center;
	font-size:17px;
	margin:0px;
	margin-left:5px;
	margin-right:5px;


}

header {
	text-align:center;
	margin:0px;
	margin-top:1.5em;
	padding:0px;
}

h1 {
	font-size:23px;
	margin:0px;
	padding:0px;
	padding-bottom:1em;
	padding-top:2em;
	
}

h2 {
	font-size:25px;
}

h3 {
	font-size:20px;
}

section{
	margin-right:1em;
	margin-left:1em;
    display:block;
}

article {
	font-size:16px;
}

footer {
	margin-top:1.3em;
	margin-bottom:1.3em;
	font-size:15px;
	text-align:center;
}

.language {
	display:block;
	margin-right:1.5em;
	margin-left:0px;
	float:right;
}

.course{
	margin-left:1em;
	margin-right:1em;
}

.contact {
    margin-left:5px;
    margin-right:5px;
	font-weight:600;
	font-size:20px;
}

.home {
	margin-left:2em;
	margin-right:2em;
}


html, body {
	margin:0px;
    overflow-x: hidden;
}
