* {
    font-family: 'Roboto', sans-serif;
    background-color: #E8E8E8;
}

header {
    margin-top:-4em;
    margin-left:57em;
    position:absolute;
    border-bottom-style:solid;
    border-radius:5px;
    border-width:2px;
    padding-bottom:10px;
}


#container{
    margin-top:5.5em;
    margin-left:15em;
    margin-right:15em;
    font-size:21px;
    margin-bottom:2.5em;
    min-height: 34.5em;
}

.info {
    text-indent:2.5em;
}

h2 {
    text-indent:1em;
}

.nav{
    text-decoration:none;
    font-weight:bolder;
    color:black;
    margin-right:auto;
    margin-left:auto;
    font-size:25px;
    font-style:italic;
    padding-left:30px;
    padding-right:30px;
    width:max-content;
}

table {
    margin:auto;
    text-align: center;
    border-style:hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

.links {
    text-decoration:none;
    font-weight:bold;
    color:black;
    background-color: #DCDCDC;
}

.Slinks {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.edu , .date {
    background-color:#DCDCDC;
    padding:8px;
}

#contact {
    margin-left:9.6em;
    width:max-content;
}

#mail {
    font-weight:bold;
}

#footer{
    width:80%;
    margin-right:auto;
    margin-left:auto;
}

#foot {
    font-weight:bolder;
    font-size:20px;
    text-align:center;
    margin:auto;
    width:max-content;
}

  .terms {
      font-weight:bold;
      text-decoration: underline;
  }

@media only screen and (max-width : 400px) {
    header {
        margin-top:15px;
        margin-left:15px;
        margin-right:15px;
        padding-bottom:15px;
        position:relative;
        text-align: center;
    }

    .nav {
        font-size:18px;
        padding-left:8px;
        padding-right:8px;
    }
    
    #container {
        margin-left:15px;
        margin-right:15px;
        margin-top:2em;
        font-size:17px;
    }

    table {
        margin-left:auto;
        margin-right:auto;
    }
    
    .date {
        width:5px;
    }

    #foot {
        padding-top:3px;
        padding-bottom:3px;
        font-size:15px;
        margin:auto;
        width:max-content;
    }

    #contact {
        margin:auto;
        width:max-content;
    }
}