* {
    font-family:Arial, Helvetica, sans-serif
}

header {
    margin-top:-4em;
    margin-left:57em;
    position:absolute;
    border-bottom-style:solid;
    padding-bottom:10px;
}


.container{
    margin-top:5.5em;
    margin-left:15em;
    margin-right:15em;
    font-size:20px;
    margin-bottom:3em;
    min-height: 33.76em;
}

.info {
    text-indent:2.5em;
}

nav a{
    text-decoration:none;
    font-weight:bold;
    color:black;
    margin-right:1em;
    margin-left:1em;
    font-size:23px;
    font-style:italic;
}

table {
    margin-left:5em;
    text-align: center;
    border-style:hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

.links {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.edu , .date {
    background-color:#eeeeee;
    padding:8px;
}

#contact {
    margin-left:3em;
}

.mail {
    font-weight:bold;
}

.footer{
    position:relative;
    bottom:0;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.foot {
    font-style:italic;
    margin-bottom:20px;
    margin-top:20px;
    font-weight:bold;
    font-size:22px;
    text-align:center;
}
