* {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top:-4em;
    margin-left:57em;
    position:absolute;
    border-bottom-style:solid;
    border-radius:5px;
    border-width:2px;
    padding-bottom:10px;
}


.container{
    margin-top:5.5em;
    margin-left:15em;
    margin-right:15em;
    font-size:20px;
    margin-bottom:2.5em;
    min-height: 36em;
}

.info {
    text-indent:2.5em;
}

nav a{
    text-decoration:none;
    font-weight:bold;
    color:black;
    margin-right:auto;
    margin-left:auto;
    font-size:23px;
    font-style:italic;
    padding-left:30px;
    padding-right:30px;
}

table {
    margin-left:5em;
    text-align: center;
    border-style:hidden;
    border-collapse: separate;
    border-spacing: 10px;
}

.links {
    text-decoration:none;
    font-weight:bold;
    color:black;
}

.edu , .date {
    background-color:#F8F8F8;
    padding:8px;
}

#contact {
    margin-left:3em;
}

.mail {
    font-weight:bold;
}

.footer{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    padding-top:3px;
    padding-bottom:3px;
}

.foot {
    font-weight:bold;
    font-size:20px;
    text-align:center;
    margin:auto;
}

@media only screen and (max-width : 400px) {

    header {
        margin-top:15px;
        margin-left:15px;
        margin-right:15px;
        padding-bottom:15px;
        position:relative;
        text-align: center;
    }

    nav a {
        font-size:18px;
        padding-left:8px;
        padding-right:8px;
    }
    .container {
        margin-left:15px;
        margin-right:15px;
        margin-top:2em;
        font-size:17px;
        
    }

    table {
        margin-left:auto;
        margin-right:auto;
    }
    
    .date {
        width:5px;
    }

    .foot {
        padding-top:3px;
        padding-bottom:3px;
        font-size:15px;
        margin:auto;
    }


}